<!DOCTYPE html>
<html>
    <head>
        <%- partial("/../../_shared/_head") %>

    </head>
    <body>
<%- partial("/../../_shared/_header") %>
<section class="hero is-light is-fullheight"
>
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-centered">
  <div class="column is-one-third has-text-left">
        <h1 class="title">
        <%= posttitle %>
        </h1>
        <h6>
        <%= date %>
        </h6>


<div class="column is-two-thirds is-hidden-mobile">
<h3>Latest Posts:</h3>
<% var keys = Object.keys(public.journal.posts._data);
    for(var i=0; i<Math.min(3,keys.length); i++) { %>
    <a href="/journal/posts/<%- keys[i] %>.html">
<h4><%- public.journal.posts._data[keys[i]].posttitle %></h4><%- public.journal.posts._data[keys[i]].date %></a><br /><%- public.journal.posts._data[keys[i]].description %><br />

<% } %>
</div>
</div>
  <div class="column is-two-thirds has-text-left">
      <%- yield %>
</div>


  </div>
</div>
</div>


</section>
<%- partial("/../../_shared/_copy") %>
<%- partial("/../../_shared/_footer_script") %>

    </body>
</html>
