<meta charset="utf-8">
<title><%= meta.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= meta.description %>">

<!-- CSS -->
<link href="<%= config.assets.folder_css %>/main.css" media="all" rel="stylesheet" />

<!-- 3rd party libraries -->

<link href="<%= config.assets.folder_bower %>/cookiebar/cookieBar.css">
<link href="<%= config.assets.folder_bower %>/swipebox/src/css/swipebox.css">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" />

<!-- compile test -->
