<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<title><%= meta.title %></title>
<meta property="og:title" content="<%= meta.title %>" />
<meta name="description" content="<%= meta.description %>">
<meta property="og:description" content="<%= meta.description %>" />
<meta property="og:image" content="<%= config.assets.folder_img %>/favicon.png" />
<link rel="shortcut icon" href="<%= config.assets.folder_img %>/favicon.png" type="image/x-icon" />


<!-- CSS -->
<link href="<%= config.assets.folder_css %>/main.css" media="all" rel="stylesheet" />

<!-- 3rd party libraries -->

<link href="<%= config.assets.folder_bower %>/cookiebar/cookieBar.css">
<link href="<%= config.assets.folder_bower %>/swipebox/src/css/swipebox.css">
